:root {
    --body-color: #f8b4c4;
    --card-color: #f0e6a8; 
    --header-color: #d4b8f0;
    --text-color: white;
    --signature-color: #085378;
}
/* You can edit all the colors of the card here in one place! Change the colors to see how your card changes.


/* webpage visuals */

body {
    background-color: var(--body-color);
    font-family:Verdana, Geneva, Tahoma, sans-serif
}


/* Copy and paste Line 21 into Line 15 to use the alternate font!
/*
font-family: "Chewy", system-ui;
*/

/* card design */

.card {
    width: 900px;
    height: 600px;
    background-color: var(--card-color);
    position: absolute;
    top: 75px;
    left: 400px;
    border-radius: 7px;
}
/* This class allows you to mess with the characteristics of the "card" itself, from the size to where it is on the page. Mess around with the values to see what happens!*/

.stamp {
    position: absolute;
    top: 30px; 
    left: 730px;
}
/* This mainly is for the position of the stamp base. Change the values to see how it moves! */

.stamp-overlay {
    position: absolute;
    top: 39px; 
    left: 740px;
}
/* This mainly is for the position of the stamp image. Change the values to see how it moves! */

.image2 {
    position: absolute;
    top: 285px; 
    left: 740px;
}

.image2-1 {
    position: absolute;
    top: 165px; 
    left: 780px;
    rotate: 80deg;
}

.image3 {
    position: absolute;
    top: 450px; 
    left: 200px;
}

.image4 {
    position: absolute;
    top: -100px; 
    left: 0px;
}

.header {
    background-color: var(--header-color);
    color: var(--text-color);
    margin: 0px;
    border-radius: 7px 7px 0px 0px;
    padding: 12px;
}
/* This is for the header's characteristics! */

.address {
    font-size: 1.5em;
    margin-left: 40px;
    margin-top: 30px;
    margin-right: 200px;
}

.text {
    padding: 12px;
    margin-left: 40px;
    margin-top: 20px;
    margin-right: 200px;
    font-size: 1.3em;
}

.signature {
    text-align: right;
    color: var(--signature-color);
    margin-right: 200px;
    padding: 10px;
    font-size: 1.5em;
}


/* BONUS: animations; take away the / and * to activate* */


/*
.card:hover {
    background-image: url('../images/fireworks.gif');
} 

.fadein {
    animation: fadeinbg 2s;
}

@keyframes fadeinbg {
    from {opacity: 0%;}
    to {opacity: 100%;}
}

*/